[default]
http = 0.0.0.0:7777
wsgi = {{ project.name }}.web
callable = app
master-fifo = uwsgi.fifo
master = 1
processes = 4
buffer-size = 16384
http-timeout = 60
enable-threads = true
listen = 128
memory-report = true
need-app = true
worker-reload-mercy = 3
max-requests = 1000
max-worker-lifetime = 3600
pidfile = pidfile
daemonize = logs/uwsgi.log
req-logger = file:logs/req.log
logger = error file:logs/server.err.log
log-route = error error|Error|ERROR
log-format = %(ltime) - %(method) - %(uri) - %(proto) - %(status) - %(time) - %(msecs)
# 如果你的distsuper在虚拟环境中运行，在这里把虚拟环境的路径配上
home = venv