{% macro define_model_field(field, model, project) %}
    {# 类型 #}
    {% set field_type = field['type'] | format_model_type %}
    {# 默认值 #}
    {% set arg_list = [] %}
    {% for key, value in field.items() %}
        {% if key == 'foreign' %}
            {% do arg_list.append(project.model_mapping[value].name | capitalize) %}
        {% endif %}
    {% endfor %}
    {% for key, value in field.items() %}
        {% if key == 'foreign' %}
            {% continue %}
        {% endif %}
        {% if key == 'on_delete' %}
            {% do arg_list.append('on_delete=' ~ value | format_value) %}
        {% endif %}
        {% if key == 'default' %}
            {% do arg_list.append('default=' ~ value | format_value) %}
        {% endif %}
        {% if key == 'null' %}
            {% do arg_list.append('null=' ~ value | format_value) %}
        {% endif %}
        {% if key == 'index' %}
            {% do arg_list.append('index=' ~ value | format_value) %}
        {% endif %}
        {% if key == 'unique' %}
            {% do arg_list.append('unique=' ~ value | format_value) %}
        {% endif %}
        {% if key == 'description' %}
            {% do arg_list.append('help_text=' ~ value | format_value) %}
        {% endif %}
    {% endfor %}
    {% if field['type'] == 'foreign' %}
        {% do arg_list.append('backref="' ~ model.name ~ '"') %}
    {% endif %}
    {# 代码 #}
    {{ field['name'] }} = {{ field_type }}({{ arg_list | join(', ') }})
{%- endmacro %}

from peewee import *
from . import *
{% for require in model.requires %}
from {{ project.name }}.models.{{ require }} import {{ require | capitalize }}
{% endfor %}


class {{ model.name | capitalize }}(MyModel):
    {% for field in model.fields %}
        {{ define_model_field(field, model, project) }}
    {% endfor %}