{% macro get_param(param, source) -%}
    {% set arg_list = [source, '\'' ~ param['name'] ~ '\''] %}
    {% for key, value in param.items() %}
        {% if value == None %}
            {% continue %}
        {% endif %}
        {% if key == 'default' %}
            {% do arg_list.append('default=' ~ value | format_value) %}
        {% endif %}
        {% if key == 'need' %}
            {% do arg_list.append('need=' ~ value | format_value) %}
        {% endif %}
        {% if key == 'vtype' %}
            {% do arg_list.append('vtype=' ~ value | format_param_type) %}
        {% endif %}
        {% if key == 'choices' %}
            {% do arg_list.append('choices=' ~ value | format_value) %}
        {% endif %}
        {% if key == 'min' %}
            {% do arg_list.append('min=' ~ value | format_value) %}
        {% endif %}
        {% if key == 'max' %}
            {% do arg_list.append('max=' ~ value | format_value) %}
        {% endif %}
    {% endfor -%}
    tools.get_params({{ arg_list | join(', ') }})
{%- endmacro %}

{% macro get_filter_condition(param, interface_name) -%}
    {% if param.filter_op %}
        {{ param | get_model_field(interface_name | capitalize) }} {{ param.filter_op }} {{ param['name'] }}
    {%- elif param.filter_condition %}
        {{ param.filter_condition }}
    {%- else %}
        {{ param | get_model_field(interface_name | capitalize) }} == {{ param['name'] }}
    {%- endif %}
{%- endmacro %}

{% macro interface_param(param, source) %}
    {{ param['name'] }} = {{ get_param(param, source) }}
    {% if param['is_filter'] %}
    if {{ param['name'] }} is not None:
        filter_conditions.append({{ get_filter_condition(param, name) }})
    {% endif %}
    {% if param['is_sorter'] %}
    if {{ param['name'] }} is not None:
        if {{ param['name'] }} == 'desc':
            sort_conditions.append({{ param | get_model_field(name | capitalize) }}.desc())
        else:
            sort_conditions.append({{ param | get_model_field(name | capitalize) }})
    {% endif %}

{% endmacro %}

from flask import Blueprint, request
from peewee import DoesNotExist, IntegrityError
from playhouse.shortcuts import model_to_dict

from {{ project.name }}.models.{{ interfaces.name }} import {{ interfaces.name | capitalize }}
{% for require in interfaces.requires %}
from {{ project.name }}.models.{{ require }} import {{ require | capitalize }}
{% endfor %}
from ..common import tools, exceptions

{{ interfaces.name }}_blueprint = Blueprint('{{ interfaces.name }}', __name__)


{% for interface in interfaces.interfaces %}
{% if interface.method == 'GETS' %}
@{{ interface.name }}_blueprint.route('/{{ interface.name }}', methods=['GET'])
@tools.request_decorator()
def get_{{ interface.name }}():
    filter_conditions = []
    sort_conditions = []

    {% set ns = namespace() %}
    {% set ns.has_page = False %}
    {% set ns.has_size = False %}
    {% set ns.join_list = [] %}
    {% for param in interface.params %}
        {{- interface_param(param, 'request.args') -}}
        {% if param.name == 'page' and param.is_pager %}
            {% set ns.has_page = True %}
        {% endif %}
        {% if param.name == 'size' and param.is_pager %}
            {% set ns.has_size = True %}
        {% endif %}
        {% if '.' in param.model_field %}
            {% do ns.join_list.append('join(' + param.model_field | split('.') | index(0) + ')') %}
        {% endif %}
    {% endfor %}
    rows = {{ name | capitalize }}.select()
    {% if ns.join_list %}
    rows = rows.{{ ns.join_list | unique | join('.') }}
    {% endif %}
    if filter_conditions:
        rows = rows.where(*filter_conditions)
    if sort_conditions:
        rows = rows.order_by(*sort_conditions)

    {% if ns.has_page and ns.has_size %}
    rows = rows.paginate(page=page, paginate_by=size)
    {% endif %}
    {% set arg_list = ['row'] %}
    {% if gets['recurse'] is defined %}
        {% do arg_list.append('recurse=' ~ gets['recurse'] | format_value) %}
    {% endif %}
    {% if gets['backrefs'] is defined %}
        {% do arg_list.append('backrefs=' ~ gets['backrefs'] | format_value) %}
    {% endif %}
    return [model_to_dict({{ arg_list | join(', ') }}) for row in rows]
{% endif %}

{% if interface.method == 'GET' %}
@{{ interface.name }}_blueprint.route('/{{ interface.name }}/<string:uid>', methods=['GET'])
@tools.request_decorator()
def get_one_{{ interface.name }}(uid):
    uid = tools.check_params("uid", uid, vtype=int)

    try:
        row = {{ interface.name | capitalize }}.select().where({{ interface.name | capitalize }}.uid == uid).get()
    except DoesNotExist:
        raise exceptions.ResourceNotFound(detail="{{ interface.name_cn }}%s不存在" % uid)

    {% set arg_list = ['row'] %}
    {% if interface.recurse is defined %}
        {% do arg_list.append('recurse=' ~ get['recurse'] | format_value) %}
    {% endif %}
    {% if interface.backrefs is defined %}
        {% do arg_list.append('backrefs=' ~ get['backrefs'] | format_value) %}
    {% endif %}
    return model_to_dict({{ arg_list | join(', ') }})
{% endif %}

{% if interface.method == 'POST' %}
@{{ interface.name }}_blueprint.route('/{{ interface.name }}', methods=['POST'])
@tools.request_decorator()
def create_{{ interface.name }}():
    request_info = request.get_json()

    fields = {
    {% for param in interface.params %}
        "{{ param['model_field'] or param.name }}": {{ get_param(param, 'request_info') }},
    {% endfor %}
    }

    try:
        row = {{ interface.name | capitalize }}.create(**fields)
    except IntegrityError as e:
        if e.args[0] == 1062:
            raise exceptions.ResourceAlreadyExists(detail="创建{{ interface.name_cn }}时，{{ interface.name_cn }}已存在")
        elif e.args[0] in (1451, 1452):
            raise exceptions.ForeignConstraintException(detail="创建{{ interface.name_cn }}时，外键约束错误")
        else:
            raise exceptions.IntegrityError()

    return {"id": row.uid}
{% endif %}

{% if interface.method == 'PUT' %}
@{{ interface.name }}_blueprint.route('/{{ interface.name }}/<string:uid>', methods=['PUT'])
@tools.request_decorator()
def create_or_update_{{ interface.name }}(uid):
    uid = tools.check_params("uid", uid, vtype=int)
    request_info = request.get_json()

    fields = {}
    {% for param in interface.params %}
    if "{{ param['name'] }}" in request_info:
        fields["{{ param['name'] or param['model_field'] }}"] = {{ get_param(param, 'request_info') }}
    {% endfor %}

    q = {{ interface.name | capitalize }}.update(**fields).where({{ interface.name | capitalize }}.uid == uid)
    try:
        exec_code = q.execute()
    except IntegrityError as e:
        if e.args[0] == 1062:
            raise exceptions.ResourceAlreadyExists(detail="更新{{ interface.name_cn }}时，{{ interface.name_cn }}已存在")
        elif e.args[0] in (1451, 1452):
            raise exceptions.ForeignConstraintException(detail="更新{{ interface.name_cn }}时，外键约束错误")
        else:
            raise exceptions.IntegrityError()
    if exec_code == 0:
        raise exceptions.ResourceNotFound(detail="{{ interface.name_cn }}%s不存在" % uid)

    return {}
{% endif %}

{% if interface.method == 'DELETE' %}
@{{ interface.name }}_blueprint.route('/{{ interface.name }}/<string:uid>', methods=['DELETE'])
@tools.request_decorator()
def delete_{{ interface.name }}(uid):
    uid = tools.check_params("uid", uid, vtype=int)

    q = {{ interface.name | capitalize }}.delete().where({{ interface.name | capitalize }}.uid == uid)
    try:
        exec_code = q.execute()
    except IntegrityError as e:
        if e.args[0] in (1451, 1452):
            raise exceptions.ForeignConstraintException(detail="删除资源时，外键约束错误")
        else:
            raise exceptions.IntegrityError()
    if exec_code == 0:
        raise exceptions.ResourceNotFound(detail="{{ interface.name_cn }}%s不存在" % uid)

    return {}
{% endif %}
{% endfor %}
